@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #fff5ed;
  --foreground: #1a1a1a;
  --surface-dark: #242424;
  --primary: #7a76ff;
  --primary-opposite: #433eb5;
  --secondary: #eb4d4d;
}

.dark {
  --background: #1a1a1a;
  --foreground: #fff5ed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-surface-dark: var(--surface-dark);

  --font-inter: Inter, system-ui, sans-serif;
  --font-display: Anton, system-ui, sans-serif;
}

html,
body {
  transition:
    background-color 300ms ease,
    color 300ms ease;
}

body {
  background: var(--background);
  color: var(--foreground);
  cursor: none;
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.text-stroke-primary {
  -webkit-text-stroke: 2px #7a76ff;
  color: transparent;
}

.dark .text-stroke-primary {
  -webkit-text-stroke: 2px #9f9cff;
}
.retro-3d-text {
  --stroke-color: #7a76ff;
  --shadow-color: #b8b6ff;
  --shadow-alpha: 0.1;
  color: transparent;

  -webkit-text-stroke: 2px var(--stroke-color);
  text-shadow:
    1px 1px 0px var(--shadow-color),
    2px 2px 0px var(--shadow-color),
    3px 3px 0px var(--shadow-color),
    4px 4px 0px var(--shadow-color),
    5px 5px 0px var(--shadow-color),
    6px 6px 0px rgba(0, 0, 0, var(--shadow-alpha));
}

.retro-3d-text.dark {
  --stroke-color: #7a76ff;
  --shadow-color: #433eb5;
  --shadow-alpha: 0.5;
}

.text-3d-stroke {
  -webkit-text-stroke: 2px #8b7fff;
  color: transparent;
  position: relative;
  white-space: nowrap;
}

.text-3d-stroke::after {
  content: attr(data-text);
  position: absolute;
  left: 4px;
  top: 4px;
  -webkit-text-stroke: 0;
  color: rgba(139, 127, 255, 0.3);
  z-index: -1;
  white-space: nowrap;
  pointer-events: none;
}

.dark .text-3d-stroke {
  -webkit-text-stroke: 2px #a78bfa;
}

.dark .text-3d-stroke::after {
  color: rgba(167, 139, 250, 0.3);
}

html {
  scroll-behavior: smooth;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}

*,
*::before,
*::after {
  cursor: none !important;
}